<div class = 'main container'>
  <h1> Sales Analytics </h1>
  <table class = 'container'>
    <thead>
      <tr>
        <!-- @col_names is a pre-sorted list of columns -->
        <% @col_names.each do |col| %>
          <th> col.unique_name </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
