<div class="shadow">
  <div class="icon">
    <div class="img boat"><img src="https://vectr.com/sean465/dapEkipL1B.png?width=349&amp;height=270&amp;select=dapEkipL1Bpage0"/></div>
    <div class="img water"><img src="https://vectr.com/sean465/a6dEnPgp1.png?width=640&amp;height=150&amp;select=a6dEnPgp1page0"/></div>
    <div class="img water"><img src="https://vectr.com/sean465/a6dEnPgp1.png?width=640&amp;height=150&amp;select=a6dEnPgp1page0"/></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="moon"></div>
  </div>
</div>
