<table class = "container">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price ($)</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @carts.each_with_index do |c, i| %>
      <% next if @products.nil? || @products[i].nil? %>
    <tr>
      <td class="container_pop">
        <%= @products[i].unique_name %>
      </td>
      <td class="container_pop">
        <%= @products[i].price %>
      </td>
      <td class="container_pop">
        <%= c.quantity %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
