// Place all the styles related to the browse controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap/glyphicons';

#search_bar{
    border: none;
    color: #525252;
    height: 25px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #DFDFDF;
}

.fill td a{
  text-decoration: none;
  padding: 0;
  color: white;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fill td {
  padding: 0;
}

.openbtn{
  position: fixed;
  z-index:1;
  top:12%;
  left:-10px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a, .openbtn a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .openbtn a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .side {padding-top: 15px;}
    .side a {font-size: 18px;}
}

#load {
  position:absolute;
  width:600px;
  height:36px;
  left:50%;
  top:40%;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 1s linear infinite;
  -o-animation:move 1s linear infinite;
  -moz-animation:move 1s linear infinite;
  -webkit-animation:move 1s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#35C4F0;
}

#load div:nth-child(2) {
  animation-delay:0.1s;
  -o-animation-delay:0.1s;
  -moz-animation-delay:0.1s;
  -webkit-animation-delay:0.1s;
}
#load div:nth-child(3) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(4) {
  animation-delay:0.3s;
  -o-animation-delay:0.3s;
  -moz-animation-delay:0.3s;
  -webkit-animation-delay:0.3s;
}
#load div:nth-child(5) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -moz-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(6) {
  animation-delay:0.5s;
  -o-animation-delay:0.5s;
  -moz-animation-delay:0.5s;
  -webkit-animation-delay:0.5s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
	35% {
		left: 41%;
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-moz-transform:rotate(-180deg);
		-webkit-transform:rotate(-180deg);
		-o-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-moz-keyframes move {
	0% {
		left:0;
		opacity:0;
	}
	35% {
		left:41%;
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-moz-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-webkit-keyframes move {
	0% {
		left:0;
		opacity:0;
	}
	35% {
		left:41%;
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-webkit-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-o-keyframes move {
	0% {
		left:0;
		opacity:0;
	}
	35% {
		left:41%;
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-o-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}
