<div class = "main_container">
  <h1> Similar Products </h1>
  <!-- Below the header will reside a N x 2 table containing similar products -->
  <table class = "container">
    <thead>
    </thead>
  </table>
</div>
