<%= @sim_prod.to_a %>
<div class = "main_container">
  <h1> Similar Products </h1>
  <!-- Below the header will reside a N x 2 table containing similar products -->
  <table class = "container">
    <thead>
      <th> People who purchased: </th>
      <th> Might also be interested in: </th>
    </thead>
    <tbody>
      <!-- sim_prod is an array of arrays containing the top 100 similar products -->
      <% unless @sim_prod.nil? %>
        <% @sim_prod.each do |prods| %>
          <tr>
            <td> <%= prods["pido"] %> </td>
            <td> <%= prods["pidt"] %> </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
