<% @product_results.each do |prod| %>
  <tr>
    <td class = "blue_input container_pop"> <%= prod.unique_name %> </td>
    <td class = "blue_input container_pop"> <%= prod.sku %> </td>
    <td class = "blue_input container_pop"> $<%= prod.price %> </td>
  </tr>
<% end %>
